.link-wrapper{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 130px;
}

.link{
  cursor: pointer;
  color: var(--dark);
  text-decoration: none;
  font-weight: bold;
}