.navbar-contents{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 8.5%;
}

.logo-txt{
  font-size: 70;
  color: var(--dark);
}

/* .navlink-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
} */

.links{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.btn-logout{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: var(--dark);
  border: none;
  padding: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 860px){
  .hamburger{
    display: flex;
  }

  .links{
    display: none;
  }
}